.home{
  height: 100vh;
  background-color: #eef2fe;
}

.notice-board{
  height: 70px;
  background-color: #9b1fe9;
}


.warning{
  background-color: #eef2fe;
}

.content-title > p{
  width: 50;
}


@media screen and (max-width: 480px) {
  .content-title > p{
    width: 100%;
  }
}